#volunteerButtons {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 50px;
}
#volunteerButtons > h2 {
    text-align: center;
    margin-top: 10px;
}

.name-col {
    width: 33%;
}

.email-col{
    width: 33%;
}
.avail-col{
    width: 33%;
}
