#volunteerButtons {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 50px;
    padding-left: 25vw;
    padding-right: 25vw;
    
}
#volunteerButtons > h2 {
    text-align: center;
    margin-top: 10px;
}

#confirmButton {
    top: 50%;
    
}
.name-col {
    width: 33%;
}

.email-col{
    width: 33%;
}
.avail-col{
    width: 33%;
}


