.volunteerForm {
    margin-top: 30px;
    position: relative;
    padding-left: 20vw; 
    padding-right: 20vw;
}

.volunteerForm > button {
    margin-top: 10px;
    width: 40%;
}


/* MODAL STUFF */
#myModalRevokeAccess {
    display: block;
    margin-top: 150px;
    text-align: center;
}

.modal-content {
    display: block;
    background-color: royalblue;
}

#bananaHeader{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(202, 0, 0);
    text-align: center;
}

/* CSS Loader by dave: https://codepen.io/redlabor/pen/idHeG */
.loading {
    margin-top: 20px;
    text-align: center;
}

#loadingFont {
    color: rgb(141, 140, 140);
    margin: 0;
    font-size: 16pt;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
  }
  
  /*
   * Loading Dots
   * Can we use pseudo elements here instead :after?
   */
  .loading span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
    width: .6em;
    height: .6em;
    margin: .19em;
    background: #007DB6;
    border-radius: .6em;
    animation: loading 1s infinite alternate;
    margin-top: 25px;
  }
  
  /*
   * Dots Colors
   * Smarter targeting vs nth-of-type?
   */
  .loading span:nth-of-type(2) {
    background: #008FB2;
    animation-delay: 0.2s;
  }
  .loading span:nth-of-type(3) {
    background: #009B9E;
    animation-delay: 0.4s;
  }
  .loading span:nth-of-type(4) {
    background: #00A77D;
    animation-delay: 0.6s;
  }
  .loading span:nth-of-type(5) {
    background: #00B247;
    animation-delay: 0.8s;
  }
  .loading span:nth-of-type(6) {
    background: #5AB027;
    animation-delay: 1.0s;
  }
  .loading span:nth-of-type(7) {
    background: #A0B61E;
    animation-delay: 1.2s;
  }
  
  /*
   * Animation keyframes
   * Use transition opacity instead of keyframes?
   */
  @keyframes loading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }